@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "./modal";

body {
    background-color: #293742;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .medium-bar {
    max-width: 220px;
  }

  .dropshadow {
    border-style: solid;
    border-width: 4px;
    box-shadow: none;
    border-color: rgba(108, 174, 221, 1) !important;
    z-index: 30;
  }

